<div class="footer">
  <div class="footer-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Cookies Policy</a>
    <a href="#">Risk Disclaimer</i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-dollar-sign"></i> in mind
  </div>
</div>
